@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'brandFont';
  src: local(brandFont), url('./brand-font.ttf')
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #0F172A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.brand {
  font-family: brandFont;
}

.ql-syntax {
  background-color: #1f2937;
  padding: 10px !important;
  border-radius: 10px;
  max-width: 80vw;
  overflow-x: scroll;
}